<div class="wrapper">
  <div id="training-list-wrap">

    <div class="tr-list-row">
      <div class="tr-inddetails-table">
        <div class="tr-inddetails-table-row">
          <div class="tr-inddetails-date on-site-cc">
            <div class="date-details">
              <p class="day">30/4</p>
              <p class="year">2018</p>
              <p class="venue">Đà Nẵng</p>
            </div>
            <!--date-details ends-->
          </div>
          <!--tr-inddetails-date ends-->
          <div class="tr-inddetails-data">
            <div class="training-module">
              <a href="#">"Bán vật tư y tế uy tín  &amp; an toàn"</a>
            </div>
            <!--training-module ends-->
            <div class="begins-ends-wrap">
              <p>Thứ năm, ngày 30 tháng 5, 2018 lúc 08:30AM</p>

            </div>
            <!--begins-ends-wrap ends-->
            <div class="tr-list-training-cost">
            </div>
            <ul class="view-details-enquire">
              <li><a href="training_details.html">View Details</a></li>
            </ul>
            <!--view-details-enquire ends-->
          </div>
          <!--tr-inddetails-data ends-->
        </div>
        <!--tr-inddetails-table-row ends-->
      </div>
      <!--tr-inddetails-table ends-->
    </div>
    <!--tr-list-row1 ends-->
    <div class="tr-list-row">
      <div class="tr-inddetails-table">
        <div class="tr-inddetails-table-row">
          <div class="tr-inddetails-date online-cc">
            <div class="date-details">
              <p class="day">12/12</p>
              <p class="year">2021</p>
              <p class="venue">Online</p>
            </div>
            <!--date-details ends-->
          </div>
          <!--tr-inddetails-date ends-->
          <div class="tr-inddetails-data">
            <div class="training-module">
              <a href="#">Nơi bán vật tư uy tín &amp; an toàn tháng 12</a>
            </div>
            <!--training-module ends-->
            <div class="begins-ends-wrap">
              <p>Thứ sáu, ngày 12 tháng 12, 2021 at 08:30AM</p>
            </div>
            <!--begins-ends-wrap ends-->
            <ul class="view-details-enquire">
              <li><a href="training_details.html">View Details</a></li>
            </ul>
            <!--view-details-enquire ends-->
          </div>
          <!--tr-inddetails-data ends-->
        </div>
        <!--tr-inddetails-table-row ends-->
      </div>
      <!--tr-inddetails-table ends-->
    </div>
    <!--tr-list-row2 ends-->
    <div class="tr-list-row">
      <div class="tr-inddetails-table">
        <div class="tr-inddetails-table-row">
          <div class="tr-inddetails-date on-site-cc">
            <div class="date-details">
              <p class="day">21/10</p>
              <p class="year">2022</p>
              <p class="venue">Đà Nẵng</p>
            </div>
            <!--date-details ends-->
          </div>
          <!--tr-inddetails-date ends-->
          <div class="tr-inddetails-data">
            <div class="training-module">
              <a href="#">Bán vật tư y tế uy tín &amp; an toàn</a>
            </div>
            <!--training-module ends-->
            <div class="begins-ends-wrap">
              <p>Thứ sáu, ngày 21 tháng 10, 2022 at 06:00 P.M</p>
            </div>
            <!--begins-ends-wrap ends-->
            <ul class="view-details-enquire">
              <li><a href="training_details.html">View Details</a></li>
            </ul>
            <!--view-details-enquire ends-->
          </div>
          <!--tr-inddetails-data ends-->
        </div>
        <!--tr-inddetails-table-row ends-->
      </div>
      <!--tr-inddetails-table ends-->
    </div>
    <!--tr-list-row3 ends-->
  </div>
</div>
