<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="margin-top: 20px;margin-left: 20px;text-align: center; color: #270082">Danh sách thông tin nhân
                viên</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6" *ngIf="showAdminBoard">
                    <button  class="btn__primary" routerLink="/employee-admin/create">
                        Thêm mới
                    </button>
                </div>

                <div class="col-lg-6" *ngIf="showAccountantBoard || showSellBoard">
                    <!--                    <button  class="btn__create" routerLink="/employee/create">-->
                    <!--                        Thêm mới nhân viên-->
                    <!--                    </button>-->
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 d-flex justify-content-end">
<!--                    <form>-->
                        <!--                    <form [formGroup]="searchNameForm" (ngSubmit)="send()">-->
<!--                        <form [formGroup]="searchNameForm" (ngSubmit)="searchEmployeeByName()">-->
<!--                        <div class="input-group info-search my-2"-->
<!--                             style=" text-align: end; vertical-align: middle">-->
<!--                            <div class="form-outline form-field " style="margin-right: 5px">-->
<!--                                <input formControlName="name" id="name" type="text" class="form-control rounded"-->
<!--                                       placeholder="Tìm kiếm họ tên...">-->
<!--                            </div>-->
<!--                            <button type="submit" class="btn__primary" id="search-addon">-->
<!--                                Search-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </form>-->

                    <form [formGroup]="searchNameForm" (ngSubmit)="searchEmployeeByName()" class="mb-3">
                        <div class="row my-2">
                            <div class="input-group col-md-8">
                                <span class="ml-1">Tên: </span>
                                <input type="text" class="ml-3 form-control" formControlName="name">
                            </div>

                            <div class="input-group col-md-4">
                                <button class="btn__delete ml-1" type="submit">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead style="background-color: #270082; color: #e6ebf1; overflow: hidden; white-space: nowrap;">
                <tr>
                    <th scope="col">Mã nhân viên</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Chi tiết</th>
                    <th scope="col">Chỉnh sửa</th>
                    <th scope="col">Xóa</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let emp of listEmployee | paginate: {itemsPerPage: size, currentPage: page, totalItems: totalItems}">
                    <td>{{emp.employeeCode}}</td>
                    <td>{{emp.employeeName}}</td>
                    <td>{{emp.employeeDateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{emp.employeeGender}}</td>
                    <td>{{emp.employeePositionId.positionName}}</td>
                    <td style="width: 0px">
                        <button class="btn__primary" [routerLink]="['/employee/detail',emp.employeeId]"
                                style=" cursor: pointer">Chi tiết
                        </button>
                    </td>
                    <td>
                        <button class="btn__primary" [routerLink]="['/employee-admin/edit',emp.employeeId]"
                                style=" cursor: pointer">Chỉnh sửa
                        </button>
                    </td>
                    <td>
                        <!--                        <button class="btn__delete" data-toggle="modal" data-target="#exampleModal"-->
                        <!--                                type="button" (click)="deleteEmployee(emp.employeeId)">Xóa-->
                        <!--                        </button>-->
                        <button type="button"
                                (click)="showInfoEmployeeDelete(emp)"
                                class="btn__delete"
                                data-toggle="modal"
                                data-target="#exampleModal"
                        >
                            Xoá
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <div *ngIf="totalItems > 5" style="display: flex; justify-content: center; align-items: center;">
        <pagination-controls (pageChange)="getEmployeeList($event)"></pagination-controls>
    </div>
    <br>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 500; color: crimson">Lưu ý: Nội dung
                    này không hoàn tác</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
        <span>Bạn có muốn xóa nhân viên <span style="color: #0f57b3; font-weight: bolder">{{name}}</span>
              có mã nhân viên là <span style="color: #0f57b3; font-weight: bolder">{{code}}</span> không ?
        </span>
            </div>
            <div class="modal-footer">
                <button class="btn__cancel" data-dismiss="modal">Quay lại</button>
                <button class="btn__delete" data-dismiss="modal" (click)="deleteEmployee(id)">Xóa</button>
            </div>
        </div>
    </div>
</div>

<notifier-container></notifier-container>


