<div class="container">

    <!--    <form class="p-3">-->


    <h2 class="text-center pt-2" style="color:#270082;">Thống kê vật tư</h2>
    <form [formGroup]="formSearch" (ngSubmit)="search()" class="exam-container form-group" id="flex-grow"
          style="opacity: 1;">
        <div class="row mt-3">
            <div class="col-md-2 input-group" style="align-content: center">
                Từ ngày:
            </div>
            <div class="col-md-3 input-group">
                <input type="date" name="fromDate" formControlName="fromDate">
            </div>


            <div class="col-md-2 input-group" style="align-content: center">
                Đến ngày:
            </div>
            <div class="col-md-3 input-group">
                <input type="date" name="toDate" formControlName="toDate">
            </div>
            <div class="col-md-2">
                <button class="btn__delete mt-2 ml-1" type="submit">Tìm kiếm</button>
            </div>
        </div>
    </form>


    <br>
    <div style="width:100%; height:300px; overflow:auto;" class="table-responsive">
        <table class="table table-hover">
            <thead style="background-color: #270082; color: #e6ebf1; overflow: hidden; white-space: nowrap;">
            <tr>
                <th scope="col">Mã VT</th>
                <th scope="col">Tên vật tư</th>
                <th scope="col">Vật tư nhập</th>
                <th scope="col">Vật tư bán được</th>
                <th scope="col">Vật tư tồn kho</th>
                <th scope="col">Đơn vị</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let material of materials1">
                <td>{{material[0]}}</td>
                <td>{{material[1]}}</td>
                <td>{{material[2]}}</td>
                <td>{{material[3]}}</td>
                <td>{{material[4]}}</td>
                <td>{{material[5]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row  py-3">
        <div class="col-md-4 text-center">
            <button type="button"
                    (click)="chartMaterial()"
                    class="btn__primary"
                    data-toggle="modal"
                    data-target="#modalChart">
                Xem
            </button>
        </div>
        <div class="col-md-4 text-center">
            <button class="bt btn__delete" (click)="exportPDF()">In</button>
        </div>
        <div class="col-md-4 text-center">
            <button class="bt btn__cancel">Trở về</button>
        </div>

    </div>
</div>


<!--+++++++++++++++modal+++++++++++++++++=-->
<!-- Modal -->
<div class="modal fade" id="modalChart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%; transform: translate(-15%);">
            <div class="modal-header">
                <h2 class="modal-title text-primary" id="exampleModalLabel">Biểu đồ thống kê vật tư</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                <div>
                    <canvas id="canvas">{{chart}}</canvas>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
