<div class="container" style="margin-top: 100px">
    <form class="mb-5" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <h2 class="text-center mt-2 mb-5 text" style="">Đổi mật khẩu nhân viên</h2>
        <div class="ml-2">
            <div class="input-group mt-2">
                <label for="oldPass">Mật khẩu cũ: <span class="text-danger">(*)</span></label>
                <input id="oldPass" type="password" formControlName="oldPassword">
                <div>
                    <small class="text-danger" *ngIf="passwordForm.get('oldPassword').hasError('required') && passwordForm.get('oldPassword')?.touched">Mật khẩu cũ không được bỏ trống</small>
                    <small class="text-danger" *ngIf="error"> Mật khẩu cũ không đúng</small>
                </div>
            </div>

            <div formGroupName="passwordGroup">
                <div class="input-group">
                    <label for="newPass">Mật khẩu mới: <span class="text-danger">(*)</span></label>
                    <input id="newPass" type="password" formControlName="newPassword">
                    <div>
                        <small class="text-danger" *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.required && passwordForm.get('passwordGroup').get('newPassword').touched">Mật khẩu mới không được để trống</small>
                        <small class="text-danger" *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.maxlength && passwordForm.get('passwordGroup').get('newPassword').touched">Mật khẩu mới chỉ chứa tối đa 20 kí tự</small>
                        <small class="text-danger" *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.minlength && passwordForm.get('passwordGroup').get('newPassword').touched">Mật khẩu mới phải chứa ít nhất 8 ký tự</small>
                        <small class="text-danger" *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.pattern && passwordForm.get('passwordGroup').get('newPassword').touched">Mật khẩu mới phải chứa ít nhất một kí tự hoa, một kí tự thường, một kí tự số và một kí tự đặc biệt - Ví dụ: Pass123124@</small>
                    </div>
                </div>

                <div class="input-group">
                    <label for="confirmPass">Nhập lại mật khẩu: <span class="text-danger">(*)</span></label>
                    <input id="confirmPass" type="password" formControlName="confirmPassword">
                    <div>
                        <small class="text-danger" *ngIf="passwordForm.hasError('invalidConfirmation',['passwordGroup']) && passwordForm.get('passwordGroup').get('confirmPassword').touched">Nhập lại mật khẩu không giống với mật khẩu mới</small>
                        <small class="text-danger" *ngIf="passwordForm.get('passwordGroup').get('confirmPassword').errors?.required && passwordForm.get('passwordGroup').get('confirmPassword').touched">Nhập lạ mật khẩu không được để trống</small>
                    </div>
                </div>
            </div>
        </div>

        <div class=" button__container d-flex justify-content-center mt-5">
            <button type="submit" class="bt btn__delete mr-5" [disabled]="passwordForm.invalid" >Đổi mật khẩu</button>
            <button type="button" class="bt btn__cancel" routerLink="">Quay về</button>
        </div>
    </form>
    <notifier-container></notifier-container>
</div>

