<div class="container">
    <div>
        <h2 class="text-center" style="color:#270082; margin-top: 100px">Thống kê tài chính</h2>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-center">
                <span style="margin-right: 30px">Tháng:</span>
                <span class="select">
        <select (change)="search($event.target)">
          <option selected disabled>Chọn tháng</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </span>
            </div>
            <div class="col-md-4 text-center">
                <span style="margin-right: 30px">Năm:</span>
                <span class="select">
        <select (change)="search($event.target)">
          <option selected disabled>Chọn năm</option>
          <option *ngFor="let year of yearList">{{year}}</option>
        </select>
      </span>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="overflow-hidden text-center">
            <div class="row gy-5">
                <div class="col-6">
                    <div class="mt-5" style="color: red">Bảng thống kê chi tiết</div>
                    <table class="table-detail table table-hover mt-3">
                        <thead>
                        <tr>
                            <th scope="col">Hoạt động</th>
                            <th scope="col">Trị giá</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Bán hàng</td>
                            <td>{{ban}} VND</td>
                        </tr>
                        <tr>
                            <td>Nhập hàng</td>
                            <td>{{nhap}} VND</td>
                        </tr>
                        <tr>
                            <td>Hủy hàng</td>
                            <td>{{huy}} VND</td>
                        </tr>
                        <tr>
                            <td>Trả hàng</td>
                            <td>{{tra}} VND</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <div class="mt-5" style="color: red">Tổng doanh thu</div>
                    <div>
                        <table class="table-total table table-hover mt-3">
                            <thead>
                            <tr>
                                <th scope="col">Hoạt động</th>
                                <th scope="col">Trị giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Tổng thu</td>
                                <td>{{tongthu}} VND</td>
                            </tr>
                            <tr>
                                <td>Tổng chi</td>
                                <td>{{tongchi}} VND</td>
                            </tr>
                            <tr>
                                <td>Doanh thu</td>
                                <td>{{doanhthu}} VND</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-md-4 text-center ">
                        <button type="button" class="btn__primary"
                                data-toggle="modal"
                                data-target="#modalChart"
                                (click)="chartFinancial()">
                            Xem
                        </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="bt btn__delete" (click)="exportPDF()">In</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="bt btn__cancel">Trở về</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!--+++++++++++++++modal+++++++++++++++++=-->
    <!-- Modal -->
    <div class="modal fade" id="modalChart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 150%; transform: translate(-15%);">
                <div class="modal-header">
                    <h2 class="modal-title text-primary" id="exampleModalLabel">Biểu đồ thống kê tài chính</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div>
                        <canvas id="canvas">{{chart}}</canvas>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
