<div class="container" style="background: #fff; border-radius: 12px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);">
    <br>
    <h3 class="text-center" style="color:#270082; font-size: 33px;">Danh sách thông tin khách hàng</h3>
    <br>
    <br>
    <div class="row mr-1">
        <!--    <h3 style="color:#270082;" > Thông tin khách hàng</h3>-->

        <!--      <div >-->
        <!--        <span class="fa-solid fa-plus"></span>-->
        <!--        <h6 routerLink="/customer/create">Thêm mới</h6>-->
        <div class="col-md-3">
            <button routerLink="/customer/create" type="button" class="btn btn__primary">Thêm mới</button>
        </div>
        <!--      </div>-->

        <!--            <form [formGroup]="searchNameAndPhoneForm" (ngSubmit)="send()">-->
        <!--                <div class="input-group info-search"-->
        <!--                     style="margin: 8px 8px 8px 6%; text-align: center; vertical-align: middle">-->
        <!--                    <div class="form-outline form-field " style="margin-right: 5px">-->
        <!--                        <input formControlName="name" id="name" type="text" class="form-input" placeholder=" ">-->
        <!--                        <label for="name" class="form-label">Tên</label>-->
        <!--                    </div>-->
        <!--                    <div class="form-outline form-field">-->
        <!--                        <input formControlName="phone" id="phone" type="text" class="form-input" placeholder=" ">-->
        <!--                        <label for="phone" class="form-label">Số điện thoại</label>-->
        <!--                    </div>-->
        <!--                    <button style="height: 50px;width: 65px; background:  #AAC4FF;; color: rgb(29, 25, 145);  "-->
        <!--                            type="submit" class="btn btn-primary">-->
        <!--                        &lt;!&ndash;          <i class="fas fa-search"></i>&ndash;&gt;SEARCH-->
        <!--                    </button>-->
        <!--                </div>-->
        <!--                <p *ngIf="message != '' " style="text-align: center; color: crimson; font-size: 17px">{{message}}</p>-->
        <!--            </form>-->

        <form [formGroup]="searchNameAndPhoneForm" (ngSubmit)="send()" class="col-md-9">
            <div class="row my-2">
                <div class="input-group col-md-5">
                    <span class="ml-1">Tên: </span>
                    <input type="text" class="ml-3 form-control" formControlName="name">
                </div>

                <div class="input-group col-md-5">
                    <span class="ml-1">Số điện thoại: </span>
                    <input type="text" class="ml-3 form-control" formControlName="phone">
                </div>

                <div class="input-group col-md-2">
                    <button class="btn__delete ml-1" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </form>


    </div>
    <div class="table-sticky table-wrapper-scroll-y my-custom-scrollbar" style="margin-top: 30px;">
        <table>
            <thead>
            <tr>
                <!--                <th><input type="checkbox" id="selectAll" class="checkbox1" name="check[]"></th>-->
                <!--                <th scope="col">STT</th>-->
                <th class="p-0" scope="col">Mã khách hàng</th>
                <th class="name" scope="col">Tên khách hàng</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Số điện thoại</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of listCustomer | paginate: {itemsPerPage: size, currentPage: page, totalItems: totalItems}; let i = index">
                <!--                <td><input type="checkbox" class="checkbox1" name="check[]" [(ngModel)]="listCustomer[i].checked ">-->
                <!--                </td>-->
                <!--                <td scope="row">{{i+1}}</td>-->
                <td scope="row" class="p-0">{{c.customerCode}}</td>
                <td class="name">
                    <div class="user">
                        <img src="{{c.customerAvatar}}">
                        <span>{{c.customerName}}</span>
                    </div>
                </td>
                <td>{{c.customerAddress}}</td>
                <td>{{c.customerPhone}}</td>
                <td class="p-0" id="button-function">
                    <button class="btn__primary p-0" [routerLink]="['/customer/detail/',c.customerId]"
                            type="button">Chi tiết
                    </button>
                </td>
                <td>
                    <button class="btn__primary p-0" [routerLink]="['/customer/edit',c.customerId]" type="button">
                        Chỉnh sửa
                    </button>
                </td>
                <td class="p-0">
                    <button class="btn__delete p-0" data-toggle="modal" data-target="#exampleModal"
                            type="button" (click)="sendCustomerToDelete(c.customerId, c.customerName)">Xóa
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="totalItems > 5"
         style="display: flex; justify-content: center; align-items: center; margin-top: 26px">
        <pagination-controls (pageChange)="getCustomerList ($event)"></pagination-controls>
    </div>
    <!--    <div *ngFor="let s of mangString">-->
    <!--        <a>- {{s}}</a>-->
    <!--    </div>-->
    <!--  <div class="container" style="margin: 18px 30% 18px; border-radius: 10px">-->
    <!--    <div class="pagination"  >-->
    <!--      <a href="#" (click)="previous($event)">&laquo;</a>-->
    <!--&lt;!&ndash;      <a  *ngIf="page >= 15"  href="" (click)="setPage(0,$event)" >1</a>&ndash;&gt;-->
    <!--&lt;!&ndash;      <a  *ngIf="page >= 15"  href="" (click)="setPage(0,$event)" >...</a>&ndash;&gt;-->
    <!--      <div  *ngFor="let p of totalPagination; let i = index">-->
    <!--        <a class="active" *ngIf="page <= 25 && i <= 5"  href="" (click)="setPage(i,$event)" [ngClass]="{'active':i*5 == page}">{{i+1}}</a>-->
    <!--        <a class="active" *ngIf="i > 5 && page > 25"  href="" (click)="setPage(i,$event)" [ngClass]="{'active':i*5 == page}">{{i+1}}</a>-->
    <!--      </div>-->
    <!--      <a href="#" (click)="next($event)">&raquo;</a>-->


    <!--    </div>-->

    <!--  </div>-->
</div>
<br>
<br>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 500; color: crimson">Lưu ý: Nội dung
                    này không hoàn tác</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-top: 5px">
                <span>Bạn có muốn xóa khách hàng <span style="color: #0f57b3; font-weight: bolder">{{name}}</span>  không ?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn__cancel"
                        data-dismiss="modal">Quay lại
                </button>
                <button type="button" class="btn__delete" data-dismiss="modal" (click)="deleteCustomerById(id)">Xóa
                </button>
            </div>
        </div>
    </div>
</div>
